<div class="landing-page">
    <header class="header-section">
        <h1 class="page-title">Sweeper Tickets</h1>
        <nav>
            <ul class="nav-links">
                <li><a href="/inicio">Inicio</a></li>
                <li><a href="/compra">Compra</a></li>
                <li><a href="/Login">Login</a></li>
            </ul>
        </nav>
    </header>

    <div class="content-section">
        <div class="image-text-container">
            <img class="content-image" src="./assets/tomoroowland.jpg" alt="Evento 1" />
            <div class="text-content">
                <h2>Evento Exclusivo</h2>
                <p>Vive una experiencia única con artistas de talla mundial en un ambiente increíble.</p>
            </div>
        </div>

        <div class="image-text-container reverse">
            <img class="content-image" src="./assets/edc.jpg" alt="Evento 2" />
            <div class="text-content">
                <h2>Noches de Música</h2>
                <p>Disfruta de una noche llena de magia con los mejores músicos del momento.</p>
            </div>
        </div>

        <div class="image-text-container">
            <img class="content-image" src="./assets/ultra.jpg" alt="Evento 3" />
            <div class="text-content">
                <h2>Festival de Luces</h2>
                <p>Un evento lleno de color, espectáculos visuales y momentos inolvidables.</p>
            </div>
        </div>

        <div class="image-text-container reverse">
            <img class="content-image" src="./assets/Awakenings Festival.jpg" alt="Evento 3" />
            <div class="text-content">
                <h2>Festival de Luces</h2>
                <p>Un evento lleno de color, espectáculos visuales y momentos inolvidables.</p>
            </div>
        </div>
    </div>

    <footer class="footer-section">
        <p>© 2025 Sweeper Tickets - Todos los derechos reservados</p>
    </footer>
</div>