<div class="landing-page">
    <header class="header-section">
        <h1 class="page-title">Sweeper Tickets</h1>
        <nav>
            <ul class="nav-links">
                <li><a routerLink="/">Inicio</a></li>
                <li><a routerLink="/pedidos">Compra</a></li>
                <li><a routerLink="/Login">Login</a></li>
            </ul>
        </nav>
    </header>

    <div class="content-section">
        <h2 class="title">Eventos Disponibles</h2>
        <div class="card-container">
            <div class="event-card" *ngFor="let event of events">
                <h3>{{ event.name }}</h3>
                <p><strong>Ubicación:</strong> {{ event.location }}</p>
                <p><strong>Fecha:</strong> {{ event.date }}</p>
                <p><strong>Boletos Disponibles:</strong> {{ event.available_tickets }}</p>
                <p><strong>Precio:</strong> ${{ event.price }}</p>
                <button class="buy-button" (click)="buyTickets(event)">Comprar</button>
            </div>
        </div>
    </div>

    <footer class="footer-section">
        <p>&copy; 2025 Sweeper Tickets - Todos los derechos reservadossssssss</p>
    </footer>
</div>
